In [50]:
import faker

fake = faker.Faker()

print(fake.email())
print(fake.address())
print(fake.company())

jwilliams@example.net
149 Tran Plains
Port Todd, MN 39972
Rodriguez and Sons

In [51]:
# Generate a user
import json

users = []
for i in range(10):
    user = {
        "username": fake.unique.user_name(),
        "name": fake.name(),
        "email": fake.email(),
        "address": fake.address(),
        "age": fake.random_int(min=18, max=90)
    }
    users.append(user)

# Save in JSON
with open("users.json", "w") as file:
    json.dump(users, file, indent=4)

In [52]:
# generate ad campaign
import random
from datetime import date, timedelta
# Start and end of the campaign
def get_start_end_dates():
    duration = random.randint(1, 2*365)
    offset = random.randint(-365, 365)
    start = date.today() - timedelta(days = offset)
    end = start + timedelta(days=duration)

    return start.strftime("%Y%m%d"), end.strftime("%Y%m%d")

print(get_start_end_dates())

# Generate target age
def get_age_range():
    age = random.randrange(20, 46, 5)
    diff = random.randrange(5, 26, 5)

    return f"{age}-{age + diff}"

print(get_age_range())

# Generate the currency
def get_currency():
    return random.choice(("GBP", "USD", "EUR"))

# Create campaign name
def get_campaign_name():
    time = get_start_end_dates()[0] + "_" + get_start_end_dates()[1]
    old = "_" + get_age_range()
    coin = "_" + get_currency()
    name = time + old + coin
    return name

print(get_campaign_name())

('20250608', '20270506')
35-45
20251031_20251101_20-40_USD

In [53]:
# Generate the data for the campaign
def get_campaign_data():
    name = get_campaign_name()
    budget = random.randint(10**3, 10**6)
    spent = random.randint(10**2, budget)

    return {
        "cmp_name": name,
        "cmp_bgt": budget,
        "cmp_spent": spent
    }

print(get_campaign_data())

def get_raw_data(users):
    raw_data = []
    for user in users:
        campaigns = []
        for i in range(random.randint(5, 10)):
            campaign_data = get_campaign_data()
            dates = campaign_data["cmp_name"].split("_")[2].split("-")
            min_age = int(dates[0])
            max_age = int(dates[1])
            if (user["age"] >= min_age and user["age"] <= max_age):
                campaigns.append(campaign_data)

        campaigns = [get_campaign_data() for _ in range(random.randint(2, 8))]
        raw_data.append({"user": user, "campaigns": campaigns})
    return raw_data

raw_data = get_raw_data(users)
with open("raw_data.json", "w") as file:
    json.dump(raw_data, file, indent=4)

campaign_data = []
for data in raw_data:
    for campaign in data["campaigns"]:
        campaign["user"] = data["user"]
        campaign_data.append(campaign)

with open("campaigns_data.json", "w") as file:
    json.dump(campaign_data, file, indent=4)

{'cmp_name': '20260721_20270121_25-35_GBP', 'cmp_bgt': 554902, 'cmp_spent': 57318}

In [54]:
import pandas as pd

# DataFrame = Excel spreadsheet in Python
df = pd.read_json("campaigns_data.json")

print(df)

df.head(10)

# Check the size of the DataFrame (rows, cols)
print(df.shape)

#Column names
print(df.columns)

# Types of data
print(df.dtypes)

                       cmp_name  cmp_bgt  cmp_spent  \
0   20250822_20260611_45-65_EUR   509632      45355
1   20261005_20260613_45-60_USD   996464     975226
2   20260811_20270309_40-50_EUR   415305     252058
3   20250911_20260721_30-35_USD   109369      22161
4   20260422_20270727_30-45_GBP   734430     521870
5   20250207_20261213_35-55_USD    27218      20409
6   20251024_20270410_45-70_EUR   463809     261566
7   20260312_20270511_25-30_USD   113229      26766
8   20250312_20251207_25-30_USD   613529     342273
9   20250829_20280107_20-25_EUR    82123      77447
10  20260414_20271213_35-45_USD   886575     373369
11  20250120_20260709_45-70_GBP   771817     675063
12  20241205_20280503_45-60_USD   735697     540070
13  20250118_20280703_40-50_EUR    41451      40747
14  20260321_20260410_40-55_USD    72292       2528
15  20250502_20260828_40-55_GBP   267677     254442
16  20250309_20260528_30-35_EUR   252516      94630
17  20250420_20270201_20-35_GBP   904811       7713
18  20260109_20270511_20-40_EUR   208833      97722
19  20251219_20270831_40-45_GBP   151199      80438
20  20241209_20250604_30-35_EUR    45319      40867
21  20250120_20261224_25-30_USD   616184     399103
22  20260413_20271210_45-50_GBP   380174     192003
23  20251023_20261107_25-30_EUR   186507     118196
24  20250825_20260203_35-40_USD   137436     133552
25  20260212_20251201_45-55_USD     7400       4064
26  20260421_20260422_40-45_EUR   436052     149979
27  20260428_20260405_35-60_USD   856406     435098
28  20261010_20250517_25-50_USD   817267     525403
29  20250515_20261110_40-55_GBP   691855      87843
30  20250902_20250725_40-50_EUR   908040     403506
31  20250720_20280418_20-40_EUR   536813     106458
32  20250116_20250506_35-50_EUR   901698     835949
33  20250304_20271029_35-50_USD   609622     535130
34  20250501_20271021_40-65_USD   942374     328201
35  20241119_20271119_35-50_GBP   950941      98235
36  20250205_20250406_35-60_EUR   875612     286060
37  20260331_20260209_40-65_EUR   784750     673319
38  20250704_20271023_30-50_USD   402254     272555
39  20250303_20280524_30-50_GBP   193447     114345
40  20261021_20270321_25-50_USD   343450     273829
41  20250206_20270128_45-55_GBP   712646      43320
42  20251204_20260916_20-35_USD   294097      55069
43  20260131_20251221_25-40_EUR   954121     881295
44  20260106_20280914_20-40_USD   718663     259413
45  20251218_20270831_40-45_GBP   904568     300080
46  20261022_20250518_40-65_USD   295755     176448
47  20261005_20260201_30-40_USD   268451     224143
48  20251217_20261030_30-45_USD   602121     515547
49  20260108_20271115_45-50_USD    98221      47377
50  20250604_20260201_20-25_USD   700152     538538
51  20250728_20271230_25-50_EUR   944760     168758
52  20260713_20260911_40-65_GBP   611315     469350
53  20260603_20260512_30-35_EUR   811077     206693

                                                 user
0   {'username': 'george70', 'name': 'Heather Glov...
1   {'username': 'george70', 'name': 'Heather Glov...
2   {'username': 'george70', 'name': 'Heather Glov...
3   {'username': 'george70', 'name': 'Heather Glov...
4   {'username': 'george70', 'name': 'Heather Glov...
5   {'username': 'george70', 'name': 'Heather Glov...
6   {'username': 'george70', 'name': 'Heather Glov...
7   {'username': 'sullivancheryl', 'name': 'Debora...
8   {'username': 'sullivancheryl', 'name': 'Debora...
9   {'username': 'amber07', 'name': 'James Atkinso...
10  {'username': 'amber07', 'name': 'James Atkinso...
11  {'username': 'amber07', 'name': 'James Atkinso...
12  {'username': 'amber07', 'name': 'James Atkinso...
13  {'username': 'amber07', 'name': 'James Atkinso...
14  {'username': 'amber07', 'name': 'James Atkinso...
15  {'username': 'ooconnell', 'name': 'Ruben Garci...
16  {'username': 'ooconnell', 'name': 'Ruben Garci...
17  {'username': 'ooconnell', 'name': 'Ruben Garci...
18  {'username': 'ooconnell', 'name': 'Ruben Garci...
19  {'username': 'ooconnell', 'name': 'Ruben Garci...
20  {'username': 'caustin', 'name': 'Jill Washingt...
21  {'username': 'caustin', 'name': 'Jill Washingt...
22  {'username': 'caustin', 'name': 'Jill Washingt...
23  {'username': 'hernandezandrew', 'name': 'James...
24  {'username': 'hernandezandrew', 'name': 'James...
25  {'username': 'hernandezandrew', 'name': 'James...
26  {'username': 'hernandezandrew', 'name': 'James...
27  {'username': 'hernandezandrew', 'name': 'James...
28  {'username': 'hernandezandrew', 'name': 'James...
29  {'username': 'hernandezandrew', 'name': 'James...
30  {'username': 'joshuaramos', 'name': 'Travis Ma...
31  {'username': 'joshuaramos', 'name': 'Travis Ma...
32  {'username': 'joshuaramos', 'name': 'Travis Ma...
33  {'username': 'joshuaramos', 'name': 'Travis Ma...
34  {'username': 'joshuaramos', 'name': 'Travis Ma...
35  {'username': 'kathryn56', 'name': 'David Jones...
36  {'username': 'kathryn56', 'name': 'David Jones...
37  {'username': 'kathryn56', 'name': 'David Jones...
38  {'username': 'wilsonnicholas', 'name': 'Joshua...
39  {'username': 'wilsonnicholas', 'name': 'Joshua...
40  {'username': 'wilsonnicholas', 'name': 'Joshua...
41  {'username': 'wilsonnicholas', 'name': 'Joshua...
42  {'username': 'wilsonnicholas', 'name': 'Joshua...
43  {'username': 'wilsonnicholas', 'name': 'Joshua...
44  {'username': 'wilsonnicholas', 'name': 'Joshua...
45  {'username': 'wilsonnicholas', 'name': 'Joshua...
46  {'username': 'mcmillanfrancisco', 'name': 'Tay...
47  {'username': 'mcmillanfrancisco', 'name': 'Tay...
48  {'username': 'mcmillanfrancisco', 'name': 'Tay...
49  {'username': 'mcmillanfrancisco', 'name': 'Tay...
50  {'username': 'mcmillanfrancisco', 'name': 'Tay...
51  {'username': 'mcmillanfrancisco', 'name': 'Tay...
52  {'username': 'mcmillanfrancisco', 'name': 'Tay...
53  {'username': 'mcmillanfrancisco', 'name': 'Tay...
(54, 4)
Index(['cmp_name', 'cmp_bgt', 'cmp_spent', 'user'], dtype='object')
cmp_name     object
cmp_bgt       int64
cmp_spent     int64
user         object
dtype: object

In [62]:
# Filter the data
print(df.query("cmp_bgt < 1000000 and cmp_spent > 5000"))

                       cmp_name  cmp_bgt  cmp_spent  \
0   20250822_20260611_45-65_EUR   509632      45355
1   20261005_20260613_45-60_USD   996464     975226
2   20260811_20270309_40-50_EUR   415305     252058
3   20250911_20260721_30-35_USD   109369      22161
4   20260422_20270727_30-45_GBP   734430     521870
5   20250207_20261213_35-55_USD    27218      20409
6   20251024_20270410_45-70_EUR   463809     261566
7   20260312_20270511_25-30_USD   113229      26766
8   20250312_20251207_25-30_USD   613529     342273
9   20250829_20280107_20-25_EUR    82123      77447
10  20260414_20271213_35-45_USD   886575     373369
11  20250120_20260709_45-70_GBP   771817     675063
12  20241205_20280503_45-60_USD   735697     540070
13  20250118_20280703_40-50_EUR    41451      40747
15  20250502_20260828_40-55_GBP   267677     254442
16  20250309_20260528_30-35_EUR   252516      94630
17  20250420_20270201_20-35_GBP   904811       7713
18  20260109_20270511_20-40_EUR   208833      97722
19  20251219_20270831_40-45_GBP   151199      80438
20  20241209_20250604_30-35_EUR    45319      40867
21  20250120_20261224_25-30_USD   616184     399103
22  20260413_20271210_45-50_GBP   380174     192003
23  20251023_20261107_25-30_EUR   186507     118196
24  20250825_20260203_35-40_USD   137436     133552
26  20260421_20260422_40-45_EUR   436052     149979
27  20260428_20260405_35-60_USD   856406     435098
28  20261010_20250517_25-50_USD   817267     525403
29  20250515_20261110_40-55_GBP   691855      87843
30  20250902_20250725_40-50_EUR   908040     403506
31  20250720_20280418_20-40_EUR   536813     106458
32  20250116_20250506_35-50_EUR   901698     835949
33  20250304_20271029_35-50_USD   609622     535130
34  20250501_20271021_40-65_USD   942374     328201
35  20241119_20271119_35-50_GBP   950941      98235
36  20250205_20250406_35-60_EUR   875612     286060
37  20260331_20260209_40-65_EUR   784750     673319
38  20250704_20271023_30-50_USD   402254     272555
39  20250303_20280524_30-50_GBP   193447     114345
40  20261021_20270321_25-50_USD   343450     273829
41  20250206_20270128_45-55_GBP   712646      43320
42  20251204_20260916_20-35_USD   294097      55069
43  20260131_20251221_25-40_EUR   954121     881295
44  20260106_20280914_20-40_USD   718663     259413
45  20251218_20270831_40-45_GBP   904568     300080
46  20261022_20250518_40-65_USD   295755     176448
47  20261005_20260201_30-40_USD   268451     224143
48  20251217_20261030_30-45_USD   602121     515547
49  20260108_20271115_45-50_USD    98221      47377
50  20250604_20260201_20-25_USD   700152     538538
51  20250728_20271230_25-50_EUR   944760     168758
52  20260713_20260911_40-65_GBP   611315     469350
53  20260603_20260512_30-35_EUR   811077     206693

                                                 user
0   {'username': 'george70', 'name': 'Heather Glov...
1   {'username': 'george70', 'name': 'Heather Glov...
2   {'username': 'george70', 'name': 'Heather Glov...
3   {'username': 'george70', 'name': 'Heather Glov...
4   {'username': 'george70', 'name': 'Heather Glov...
5   {'username': 'george70', 'name': 'Heather Glov...
6   {'username': 'george70', 'name': 'Heather Glov...
7   {'username': 'sullivancheryl', 'name': 'Debora...
8   {'username': 'sullivancheryl', 'name': 'Debora...
9   {'username': 'amber07', 'name': 'James Atkinso...
10  {'username': 'amber07', 'name': 'James Atkinso...
11  {'username': 'amber07', 'name': 'James Atkinso...
12  {'username': 'amber07', 'name': 'James Atkinso...
13  {'username': 'amber07', 'name': 'James Atkinso...
15  {'username': 'ooconnell', 'name': 'Ruben Garci...
16  {'username': 'ooconnell', 'name': 'Ruben Garci...
17  {'username': 'ooconnell', 'name': 'Ruben Garci...
18  {'username': 'ooconnell', 'name': 'Ruben Garci...
19  {'username': 'ooconnell', 'name': 'Ruben Garci...
20  {'username': 'caustin', 'name': 'Jill Washingt...
21  {'username': 'caustin', 'name': 'Jill Washingt...
22  {'username': 'caustin', 'name': 'Jill Washingt...
23  {'username': 'hernandezandrew', 'name': 'James...
24  {'username': 'hernandezandrew', 'name': 'James...
26  {'username': 'hernandezandrew', 'name': 'James...
27  {'username': 'hernandezandrew', 'name': 'James...
28  {'username': 'hernandezandrew', 'name': 'James...
29  {'username': 'hernandezandrew', 'name': 'James...
30  {'username': 'joshuaramos', 'name': 'Travis Ma...
31  {'username': 'joshuaramos', 'name': 'Travis Ma...
32  {'username': 'joshuaramos', 'name': 'Travis Ma...
33  {'username': 'joshuaramos', 'name': 'Travis Ma...
34  {'username': 'joshuaramos', 'name': 'Travis Ma...
35  {'username': 'kathryn56', 'name': 'David Jones...
36  {'username': 'kathryn56', 'name': 'David Jones...
37  {'username': 'kathryn56', 'name': 'David Jones...
38  {'username': 'wilsonnicholas', 'name': 'Joshua...
39  {'username': 'wilsonnicholas', 'name': 'Joshua...
40  {'username': 'wilsonnicholas', 'name': 'Joshua...
41  {'username': 'wilsonnicholas', 'name': 'Joshua...
42  {'username': 'wilsonnicholas', 'name': 'Joshua...
43  {'username': 'wilsonnicholas', 'name': 'Joshua...
44  {'username': 'wilsonnicholas', 'name': 'Joshua...
45  {'username': 'wilsonnicholas', 'name': 'Joshua...
46  {'username': 'mcmillanfrancisco', 'name': 'Tay...
47  {'username': 'mcmillanfrancisco', 'name': 'Tay...
48  {'username': 'mcmillanfrancisco', 'name': 'Tay...
49  {'username': 'mcmillanfrancisco', 'name': 'Tay...
50  {'username': 'mcmillanfrancisco', 'name': 'Tay...
51  {'username': 'mcmillanfrancisco', 'name': 'Tay...
52  {'username': 'mcmillanfrancisco', 'name': 'Tay...
53  {'username': 'mcmillanfrancisco', 'name': 'Tay...

In [61]:
# Get the campaign with max spent
idx = df["cmp_spent"].idxmax()
df.loc[idx]

cmp_name                           20261005_20260613_45-60_USD
cmp_bgt                                                 996464
cmp_spent                                               975226
user         {'username': 'george70', 'name': 'Heather Glov...
Name: 1, dtype: object

In [64]:
df.sort_values(by=["cmp_spent"], ascending=False).head(1)

,cmp_name,cmp_bgt,cmp_spent,user
1,20261005_20260613_45-60_USD,996464,975226,"{'username': 'george70', 'name': 'Heather Glov..."

In [ ]:
# Add a new column
df["cmp_remaining_bgt"] = df["cmp_bgt"] - df["cmp_spent"]

# Get the start
start_date = df["cmp_name"].str.split("_").str[0]

df["cmp_start_date"] = pd.to_datetime(start_date)

# TODO
# current_date = something
# df["cmp_days_running"] = current_date - start_date

df.head(10)

,cmp_name,cmp_bgt,cmp_spent,user,cmp_remaining_bgt,cmp_start_date
0,20250822_20260611_45-65_EUR,509632,45355,"{'username': 'george70', 'name': 'Heather Glov...",464277,2025-08-22
1,20261005_20260613_45-60_USD,996464,975226,"{'username': 'george70', 'name': 'Heather Glov...",21238,2026-10-05
2,20260811_20270309_40-50_EUR,415305,252058,"{'username': 'george70', 'name': 'Heather Glov...",163247,2026-08-11
3,20250911_20260721_30-35_USD,109369,22161,"{'username': 'george70', 'name': 'Heather Glov...",87208,2025-09-11
4,20260422_20270727_30-45_GBP,734430,521870,"{'username': 'george70', 'name': 'Heather Glov...",212560,2026-04-22
5,20250207_20261213_35-55_USD,27218,20409,"{'username': 'george70', 'name': 'Heather Glov...",6809,2025-02-07
6,20251024_20270410_45-70_EUR,463809,261566,"{'username': 'george70', 'name': 'Heather Glov...",202243,2025-10-24
7,20260312_20270511_25-30_USD,113229,26766,"{'username': 'sullivancheryl', 'name': 'Debora...",86463,2026-03-12
8,20250312_20251207_25-30_USD,613529,342273,"{'username': 'sullivancheryl', 'name': 'Debora...",271256,2025-03-12
9,20250829_20280107_20-25_EUR,82123,77447,"{'username': 'amber07', 'name': 'James Atkinso...",4676,2025-08-29

In [69]:
df.to_csv("data.csv")
df.to_excel("data.xlsx")